/* @package monkey-go-config-file-generator
 * @author zwiebus */

@media only screen and (max-width: 900px) {
  body {
    background: #454750 !important;
  }
  .container {
    border: none !important;
    margin: 0 5px !important;
    padding: 0 !important;
  }
  .column {
    width: 100% !important;
  }
  .hrl {
    margin-right: -10px !important;
  }
  .hrr {
    margin-left: -10px !important;
  }
}
@media only screen and (max-width: 420px) {
  .large-input {
    width: 310px !important;
  }
  .changebg {
    margin-right: 5px !important;
  }
}
.light-mode {
  color: #000 !important;
  background: #F5F5F5 !important;
  border-color: #000 !important;
}
.light-mode input {
  background: #fff !important;
}
.light-mode input:focus {
  border-color: red!Important;
}
.light-mode .slider {
  background:transparent!Important;
}
.light-mode .help {
  color:#0600FD!Important;
}
.light-mode .help:hover {
  color:#0060FF!Important;
}
.light-mode .button {
  color: #00009F !important;
  background: #D0F1F3 !important;
}
.light-mode .button:hover {
  background: #A5DAED !important;
}
.light-mode .button:active {
  background: #F2FBFA !important;
}
.light-mode h1, .light-mode h2, .light-mode .cat {
  color: #00009F !important;
}
body {
  color: #F1F2FF;
  font-family: Monospace,Consolas,Menlo,Monaco,DroidSansMono,Arial;
  background: #313239;
}
p {
  margin: 2px 0;
}
a {
  text-decoration:none;
}
.container {
  content: "";
  display: table;
  clear: both;
  font-size: 13px;
  line-height: 16px;
  background: #454750;
  width: 98%;
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #DEE1F7;
  border-radius: 6px;
}
.column {
  float: left;
  width: 50%;
}
h1 {
  font-size: 14px;
  margin: 6px;
  color: #43d1ff;
}
h2 {
  color: #43d1ff;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0;
}
.select {
  margin-left: 5px;
  padding: 0 6px;
  min-width: 70px;
}
#pgconfig {
  font-size: 11px;
  margin-top: 5px;
}
input {
  color: #F1F2FF;
  background: #4d555d;
  padding: 1px 6px;
  border: 1px solid #DEE1F7;
  border-radius: 3px;
  width: 230px;
}
input:focus {
  outline: none;
}
#comb {
  border-left: none;
  border-right: none;
  border-radius:0;
}
.large-input {
  width: 380px;
}
.medium-input {
  width: 289px;
}
.small-input {
  width: 188px;
}
#pgEXECUTE {
  width: 188px;
}
#pgportdir {
  width: 220px;
}
.button {
  background: #1A5779;
  color: #fff;
  font-size: 14px;
  border: 1px solid #1C60A0;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
}
.button:hover {
  background: #2d4f78;
  border-color: #325378;
}
.button:active {
  background: #7C37AD;
  border-color: #535a62;
}
.buttons {
  margin-top: 20px;
}
.changebg {
  float: right;
  margin-right: 20px;
  width: 50px;
  text-align: center;
}
#pgseries, #pgmovies, #pgetc, #pgetc2 {
  margin-bottom: 5px;
}
.cat, copy {
  color: #43d1ff;
}
.copy {
  position: relativee;
  right: 10px;
  bottom: -5px;
  float: right;
}
.hrl {
  margin-left: -10px;
  margin-right: 20px;
}
.hrr {
  margin-right: -10px;
}
.slider {
  -webkit-appearance: none;
  position: relative;
  top: 6px;
  width: 232px;
  height: 19px;
  margin: 0 0 10px 0;
  border :none;
  background: transparent;
  display: block;
}
.slider::-webkit-slider-runnable-track {
  width: 232px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background: #F0F8FF;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}
.slider::-moz-range-track {
  width: 232px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background: #F0F8FF;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -7px;
  width: 11px;
  height: 19px;
  background: #a1d4ff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 30%;
}
.slider::-moz-range-thumb {
  width: 11px;
  height: 19px;
  background: #a1d4ff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 30%;
}
.moon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  box-shadow: 10px 0 0 0 #7F7F7F inset;
  cursor:pointer;
}
.sun {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0,0,256,256' fill-rule='nonzero'%3E%3Cg fill='%23ffd200' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cg transform='scale(8.53333,8.53333)'%3E%3Cpath d='M14.98438,0.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v3c-0.0051,0.36064 0.18438,0.69608 0.49587,0.87789c0.3115,0.18181 0.69676,0.18181 1.00825,0c0.3115,-0.18181 0.50097,-0.51725 0.49587,-0.87789v-3c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM5.79688,4.79883c-0.40657,0.0009 -0.77213,0.24784 -0.92475,0.62467c-0.15262,0.37684 -0.06192,0.80856 0.22944,1.09212l2.12109,2.12109c0.25082,0.26123 0.62326,0.36646 0.9737,0.2751c0.35044,-0.09136 0.62411,-0.36503 0.71546,-0.71546c0.09136,-0.35044 -0.01387,-0.72288 -0.2751,-0.9737l-2.12109,-2.12109c-0.18874,-0.19402 -0.44807,-0.30325 -0.71875,-0.30273zM24.17188,4.79883c-0.2598,0.00774 -0.50638,0.11632 -0.6875,0.30273l-2.12109,2.12109c-0.26123,0.25082 -0.36645,0.62326 -0.2751,0.9737c0.09136,0.35043 0.36503,0.6241 0.71546,0.71546c0.35043,0.09136 0.72288,-0.01387 0.9737,-0.2751l2.12109,-2.12109c0.29576,-0.28749 0.38469,-0.72707 0.22393,-1.10691c-0.16075,-0.37985 -0.53821,-0.62204 -0.9505,-0.60988zM15,8c-3.86599,0 -7,3.13401 -7,7c0,3.86599 3.13401,7 7,7c3.86599,0 7,-3.13401 7,-7c0,-3.86599 -3.13401,-7 -7,-7zM2,14c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h3c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM25,14c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h3c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM7.91016,21.06055c-0.2598,0.00774 -0.50638,0.11632 -0.6875,0.30273l-2.12109,2.12109c-0.26123,0.25082 -0.36646,0.62326 -0.2751,0.9737c0.09136,0.35044 0.36503,0.6241 0.71546,0.71546c0.35044,0.09136 0.72288,-0.01387 0.9737,-0.2751l2.12109,-2.12109c0.29576,-0.28749 0.38469,-0.72707 0.22393,-1.10691c-0.16075,-0.37985 -0.53821,-0.62204 -0.9505,-0.60988zM22.06055,21.06055c-0.40692,0.00011 -0.77321,0.24676 -0.92633,0.62377c-0.15312,0.37701 -0.06255,0.80922 0.22907,1.09303l2.12109,2.12109c0.25082,0.26123 0.62326,0.36645 0.9737,0.27509c0.35043,-0.09136 0.6241,-0.36502 0.71546,-0.71546c0.09136,-0.35043 -0.01386,-0.72288 -0.27509,-0.9737l-2.12109,-2.12109c-0.18827,-0.19353 -0.4468,-0.30272 -0.7168,-0.30273zM14.98438,23.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v3c-0.0051,0.36064 0.18438,0.69608 0.49587,0.87789c0.3115,0.18181 0.69676,0.18181 1.00825,0c0.3115,-0.18181 0.50097,-0.51725 0.49587,-0.87789v-3c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  cursor:pointer;
}
.help {
  color:#00AFFF;
  font-weight:bold;
}
.help:hover {
  color:#73CBEA;
}
